:root {
    --main-color:#08A6E4;
    --secondary-color: #ffffff;
    --main-font-color: #000000;
    --primary-shadow-color: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
    --button-radius: 20px;

/*Fonty - em, rem, */
/*px- marginesy, paddingi, cienie, bordery itp.*/
/*vw,vh- szerokosc, wysokosc np. 100%*/
/*Elementy klikalne powinny mieć hover a także cursor: pointer.*/

}
* {
    box-sizing: border-box;
}
body {
    font-family: "Open Sans" , sans-serif;
    color: var(--main-font-color);
}
a {
    text-decoration: none;
}
.btn {
    color: white;
    font-weight: bold;
    display: inline-block;
    padding: 16px 65px;
    border-radius: var(--button-radius);
    border: none;
}


.btn--primary {
    background-color: var(--main-color);
    border-radius: var(--button-radius);
    box-shadow: 3px 10px 14px var(--primary-shadow-color);
}
.btn--large {
    padding: 22px 155px;
}
.container {
    margin: 0 auto;
    width: 1352px;
}
header {
    height: 70px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.header__container {
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.logo {
    font-family: var(--font-raleway);
    font-size: 2rem;
    font-weight: 300;
    color: var(--main-color);
}
.header__nav {
    display: flex;
   }

header .nav__link {
    font-family: var(--font-open-sans);
    color: var(--color-grey);
    font-weight: 700;
    font-size: 0.6875rem;
    text-transform: uppercase;
    padding: 28px 18px 22px;
    border-bottom: 4px solid transparent;
    letter-spacing: 0.1875rem;
}

header .nav__link:hover {
    border-color: var(--main-color);
    color: var(--main-font-color);
}
header .nav__element {
    padding: 0 26px;
}

.nav__element:last-child {
    padding-right: 0;
}
.opening {
display: flex;
flex-direction: column;
align-items: center
}
.opening__content {
    margin-top: 130px;
    text-align: center;
}
.opening__header {
    font-family: var(--font-raleway);
    font-size: 3.0625rem;
}
.opening__heading {
    margin-top: 20px;
    margin-bottom: 38px;
}
.opening__image {
    width: 100%;
    height: auto;
}


.section2__content {
    display: flex;
    justify-content: space-around;
}
.circle {
    width: 50px;
    height: 50px;
    border-radius:50%;
    display: flex;
    align-items: center;
}
.circle__1 {
    background-color: #FB3B64;
}
.circle__2 {
    background-color: var(--main-color);
}
.circle__3 {
    background-color: #55DFB4;
}

.circle__image {
    margin-left: 25px;
    width: 40px;
    height: 40px;
}
footer {
    background-color: #F7F7F7;
    height: 4em;
}
footer .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}